:root {
  --primary-color: #d1b421;
  --secondary-color: #e2ebf0;
  --tertiary-color: #f2f2f2;
}

body {
  font-family: "Exo", sans-serif;
  height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  letter-spacing: 0.05rem;
  padding: 1rem;
  margin: 0;
  /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6); */
  /* text-shadow: 24px 121px 211px rgba(0, 0, 0, 0.16); */
}

.profile-picture {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 16rem;
  height: 16rem;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: space-between;
}
.left {
  width: 40%;
  padding-right: 2rem;
  border-right: 0.3rem solid black;
}

.info {
  line-height: 2rem;
}
.other {
  display: flex;
  justify-content: center;
}
.category {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.other-left,
.other-right {
  line-height: 1.4rem;
}
.other-left {
  width: 50%;
  border-right: 0.2rem solid black;
  /* text-align: center; */
}
.other-right {
  width: 50%;
  padding-left: 2rem;
  text-align: center;
}
.small-svg {
  width: 2rem;
  height: auto;
  margin-right: 5px;
  vertical-align: middle;
}
.right {
  width: 60%;
  padding: 1rem;
}
.title {
  text-align: center;
  margin: 1rem;
  line-height: 5rem;
}
.title-underline {
  font-size: 1.3rem;
  padding-bottom: 0.3rem;
}
.highlight {
  color: var(--primary-color);
  font-weight: bold;
  font-style: normal;
}
h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
}
h2 {
  font-size: 3rem;
  color: var(--primary-color);
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 2rem;
}

h4 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
p {
  margin-bottom: 1rem;
  line-height: 1.3rem;
  /* à voir après */
}
span {
  font-style: italic;
}
.skills {
  color: var(--primary-color);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
li {
  list-style: none;
}
.soft {
  display: flex;
  line-height: 1.2rem;
}
.soft-left,
.soft-right {
  width: 50%;
}
/* @media print {} */
